<div class="game-over-menu">
  <div class="top-scorers">
    <ul>
      <li>
        <div>№</div>
        <div>Name</div>
        <div>Score</div>
      </li>
      <li
        *ngFor="let scorer of list_top_scorers; let i = index"
        [ngClass]="{
          'current-user': scorer.id === current_user_id
        }"
      >
        <div>{{ i + 1 }}.</div>
        <div>{{ scorer.name }}</div>
        <div>{{ scorer.score }}</div>
      </li>
    </ul>
  </div>
  <div class="btn-container" *ngIf="!aboutFlag">
    <button class="btn" (click)="handleRestartClick()">Restart</button>
  </div>
</div>
