@use 'src/app/custom-styles/variable'; 

.brick {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin: 10px 20px;
    background: variable.$linear-gradiet;
    position: relative;
}

.invisible {
    background-color: variable.$board-color;
  }