<div class="board">
  <app-score></app-score>
  <app-bricks [isGameStarted]="startFlag"></app-bricks>

  <app-ball
    *ngFor="let ball of balls"
    [id]="ball.id"
    [startFlag]="startFlag"
    [pauseFlag]="pauseFlag"
    (destroyBall)="removeBall($event)"
  ></app-ball>

  <app-paddle
    [startFlag]="startFlag"
    [pauseFlag]="pauseFlag"
    [ballMoveFlag]="ballMoveFlag"
  ></app-paddle>

  <!-- <app-menu *ngIf="!startFlag">
    <app-start-game-content
      (startGame)="startingTheGame($event)"
    ></app-start-game-content>
  </app-menu>

  <app-menu *ngIf="pauseFlag && startFlag">
    <app-pause-game-content
      (restartGame)="restartGame()"
      (closePauseMenu)="closeMenu()"
    ></app-pause-game-content>
  </app-menu>

  <app-menu *ngIf="gameOverFlag">
    <app-game-over-content
      (restartGame)="restartGame()"
    ></app-game-over-content>
  </app-menu> -->
</div>

<!--  -->
