@use 'src/app/custom-styles/variable';

.ball {
    width: 15px;
    height: 15px;
    border-radius: 25px;
    background-color: #fff;
    position: absolute;
    bottom: 50px;
}

.speedMode {
    background-color: blue;
}

.powerMode { 
    background-color: red;
}