@use 'src/app/custom-styles/variable';

.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(0, 212, 255);
  background: radial-gradient(circle, rgba(0, 212, 255, 1) 0%, rgba(2, 0, 36, 1) 100%);
  position: absolute;
  bottom: 40px;
  z-index: 10;
}

.speedMode {
  background: radial-gradient(circle, rgb(84, 52, 212) 0%, rgba(2, 0, 36, 1) 100%);
}

.powerMode {
  background: radial-gradient(circle, rgb(240, 8, 8) 0%, rgba(2, 0, 36, 1) 100%);
}

.removeAll {
  left: 0;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}
