<div class="start-game-menu">
  <div *ngIf="!aboutFlag">
    <h1 class="title">Welcome to Arkanoid</h1>
    <label for="userName">Enter Name</label>
    <input type="text" id="userName" />
    <div class="btn-container">
      <button class="btn" (click)="handleStartClick()">Start</button>
      <button class="btn" (click)="handleAboutClick()">About</button>
    </div>
  </div>

  <div class="about" *ngIf="aboutFlag">
    <div class="title">About Arkanoid</div>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati enim
      modi praesentium ab a eos cum ipsam tempora. Eveniet consequuntur nostrum
      illo inventore corporis, magni sint accusamus libero excepturi officiis.
    </p>
    <button class="back-btn" (click)="handleBackClick()">
      <fa-icon [icon]="faArrowLeftLong"></fa-icon>
    </button>
  </div>
</div>
